<h1><%= @task.title %></h1>

<%= @task.details %>

  <% if @task.completed %>
    <p>[X] - This task is completed</p>
  <% else %>
    <p>[ ] - This task is not completed yet</p>
  <% end %>

<p><%= link_to "Back to list", tasks_path %></p>
<p class="btn btn-primary"><%= link_to "+ Edit this task", edit_path %></p>
<p><%= link_to "Destroy this task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></p>
